@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    min-width: 27.7rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
}

p {
    color: v.$textoPrincipal;
    font-size: clamp(1.8rem, 2vw, 2.4rem);
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1,
h2,
h3 {
    font-family: v.$fuenteHeading;
    font-weight: v.$delgada;
}

h1 {
    font-size: clamp(4rem, 7vw, 8rem);
}

h2 {
    font-size: clamp(3rem, 5vw, 5.5rem);
}

h3 {
    font-size: clamp(2.4rem, 4vw, 4rem);
}

h4 {
    font-size: clamp(2rem, 3vw, 3rem);
}