// Fuentes
$fuenteHeading: "Poppins", sans-serif;
$fuentePrincipal: "Inter", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

// Colores
$verde: #9ACD32;
$verdeOscuro: #1F4037;
$verdeOliva: #5F7A33;

$fondoPrincipal: #F1F5F2;
$fondoSecundario: #E4ECE7;

$textoPrincipal: #23322D;
$textoSecundario: #5E6A65;

$amarillo: #F4D64E;

$blanco: #FAFAF7;
$negro: #11161A;
$rojo: #ED4337;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900