// Fuentes
$fuenteHeading: "Poppins", sans-serif;
$fuentePrincipal: "Inter", sans-serif;

// Tamaño de Media Queries
$telefonoPequeno: 360px;
$telefono: 480px;
$telefonoGrande: 576px;
$tabletPequena: 768px;
$tablet: 992px;
$desktop: 1200px;
$desktopXL: 1400px;

// Colores
$verde: #9ACD32;
$verdeOscuro: #1F4037;
$verdeOliva: #5F7A33;

$fondoPrincipal: #F1F5F2;
$fondoSecundario: #E4ECE7;

$textoPrincipal: #23322D;
$textoSecundario: #5E6A65;

$amarillo: #F4D64E;

$blanco: #FAFAF7;
$negro: #000000;
$rojo: #ED4337;

$separacion: 5rem;

// Fuentes
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 900;